

@media only screen and (max-width: 600px) {

   
    .container{

      --cardwidth: 350px;
      --cardheight: 430px;
        width: var(--cardwidth);

    }

    .profile{
  
        width: var(--cardwidth);
        border-radius:var(--corners);

    }


    button{
        --buttonmargin:2px;
    }

}