*{
    margin: 0;
    padding: 0rem;
    box-sizing: border-box;
    
}

:root{
--bgredcolor: rgb(207, 66, 66);
--textcolor: #333;
--lightcolor: #fff;
--redcolor:hsl(0, 100%, 50%);
--bodycopy: 15px;
--mainfont: "Lexend Deca", sans-serif;
--minimalistfont: "Big Shoulders Display", sans-serif;
--containermargin: 4rem;
--cardpadding: 30px;
--copypadding:5px;
--imagepadding:40px;
--buttonpadding:20px;
--containerwidth: 600px;
--cardwidth: 280px;
--buttonmargin:45px;
--cardheight: 700px;
--buttonwidth: 150px;
--corners: 10px;

}

body{

        background-color: var(--bgredcolor);

    }

.container{
    margin-top: var(--containermargin);
    margin-bottom: var(--containermargin);
    margin-left: auto;
    margin-right:auto;
  
    text-align: center;
}

img{
    width: 200px;
   border-radius: 100%;
   display: block;
   margin-left: auto;
    margin-right: auto;
    margin-bottom: var(--imagepadding);
}
h1{
font-family: var(--mainfont);
padding-top: var(--copypadding);
padding-bottom: var(--copypadding);
color: var(--textcolor);
}

p, h2{
    font-family: var(--mainfont);
    color: var(--textcolor);
    padding-bottom: var(--copypadding);
}

.profile{
        padding: var(--cardpadding);
        background-color: var(--lightcolor);
  border-radius: var(--corners);
}

.profile > button{
    color:var(--lightcolor);
}



button{
    margin-top: var(--buttonmargin);
    background-color: var(--bgredcolor);
    border-radius: 50px;
    padding: var(--buttonpadding);
    width: var(--buttonwidth);
    border: none;
    font-family: var(--mainfont);
}



@media only screen and (max-width: 1440px) {
.container{

    display: block;

    width: var(--containerwidth);

    display: grid;

    grid-template-columns: 1fr;

    grid-template-areas: "a b c";

}

    .profile{
        grid-area: a;
        min-width: var(--cardwidth);
        height: var(--cardheight);
         border-bottom-left-radius: var(--corners);
  
    }


}